/* colors:
	#05f2c7
	#05f2c7
	#000000
	#F25050
	#F27979
 */

.light-cyan {
	color: #05f2c7;
}
.dark-cyan {
	color: #04d9b2;
}
.dark-red {
	color: #f25050;
}
.light-red {
	color: #f27979;
}

body {
	background-color: #000000;
}
