/* colors:
	#05f2c7
	#05f2c7
	#000000
	#F25050
	#F27979
 */

.light-cyan {
	color: #05f2c7;
}
.dark-cyan {
	color: #04d9b2;
}
.dark-red {
	color: #f25050;
}
.light-red {
	color: #f27979;
}

body {
	background-color: #000000;
}

.spinner {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fade-in {
	animation: fadeIn ease 3.5s;
	-webkit-animation: fadeIn ease 3.5s;
	-moz-animation: fadeIn ease 3.5s;
	-o-animation: fadeIn ease 3.5s;
	-ms-animation: fadeIn ease 3.5s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
