html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	line-height: 1.5;
}

body {
	background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	padding: inherit;
	line-height: inherit;
	margin: inherit;
}

/* colors:
	#05f2c7
	#05f2c7
	#000000
	#F25050
	#F27979
 */

.light-cyan {
	color: #05f2c7;
}
.dark-cyan {
	color: #04d9b2;
}
.dark-red {
	color: #f25050;
}
.light-red {
	color: #f27979;
}
.white {
	color: white;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.height-screen {
	height: 100vh;
}

.fade-in {
	animation: fadeIn ease 3.5s;
	-webkit-animation: fadeIn ease 3.5s;
	-moz-animation: fadeIn ease 3.5s;
	-o-animation: fadeIn ease 3.5s;
	-ms-animation: fadeIn ease 3.5s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
